<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="chatbot">
  <meta name="keywords" content="chatbot">
  <meta name="author" content="Mats Wikmar">
  <title>404</title>
  <link rel="icon" href="img/favicon.ico?v=2">
  <!--  <link rel="stylesheet" href="css/bootstrap.min.css">-->
  <link rel="stylesheet" href="css/index.css">
  <!--  <script src="js/jquery_bs3.min.js" defer></script>
    <script src="js/custom.js" defer></script>-->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
  <h1>{{message}}</h1>
  <h2>{{error.status}}</h2>
  <pre>{{error.stack}}</pre>
  <a href="/">Startsidan</a>
</body>
</html>