
<div class="container col-xs-6 col-xs-offset-3 customContainer">
  <h1>{{title}}</h1>
  <p>Välkommen: Ställ en fråga om öl</p>

  <form>
    <div class="form-group">
      <label for="chat_text">Din fråga</label>
      <input type="text" class="form-control" id="chat_text" name="chat_text" placeholder="Ange din fråga">
    </div>
    <button type="submit" class="btn btn-default" id="chat_submit">Skicka</button>
  </form>
  <div class="media" id="chat_msg"></div> <!-- chat_msg-->


</div>

